/* NProgress custom styling - Telink violet theme */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #644ff7; /* telink-violet */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #644ff7, 0 0 5px #644ff7;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove spinner */
#nprogress .spinner {
  display: none;
}

/* Animation */
#nprogress .bar {
  animation: nprogress-pulse 2s ease infinite;
}

@keyframes nprogress-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
